body {
    background-color: #880000;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
pre, p {
display:inline-block;
}
#hidden {
display:none;
}
#content {
    background-color: #d0d0d0;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 7px #000011;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    width:80%;
}

#navigation a:link, #navigation a:visited {
    color: #d0d0d0;
    text-decoration: none;
}
#navigation a:hover{
    color: #ffffff;
}
#navigation {
    background-color: rgba(10, 10, 10, 0.85);
    z-index: 10;
    min-width: 875px;
}

#navigation ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
#navigation ul li {
    font-family: Arial, Helvetica, serif;
    font-size: 15px;
    color: #d0d0d0;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: rgba(10, 10, 10, 0.85);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
